
body{
    /*min-height: 100vh;*/
    width: 100%;
    /*background-color: var(--bs-light);*/
    -webkit-app-region: no-drag;
}
.hello-box{
    position: fixed;
    left: 10px;top: 10px;
    /*display: flex;*/
}
